# 语法	含义
#--------------
# *	    任意字符
# ?	    单字符
# []	字符集合
# **	任意目录
# /	    路径锚定
# !	    反忽略
# \	    转义
# #	    注释


##################################
# 忽略项目生成目录与中间目录
##################################
Bin/
**/Generated/
Library/
TrashBin/

##################################
# Windows系统特定目录
##################################
.vs/
*.vcxproj.user

##################################
# MacOS系统特定目录
##################################
.DS_Store
xcuserdata/
xcshareddata/
